.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary2);
  width: 100%;
  padding: 12px 7.8vw;
}

.Header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.App-logo {
  height: 32px;
}

.My-balance {
  background-color: transparent;
  border: 1px solid var(--primary1);
  border-radius: 9999px;
  padding: 0.375rem 1rem;
  font-family: var(--DM-Sans);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #eaeaea;
}

@media screen and (max-width: 840px) {
  .App-header {
    padding: 12px 4.1vw;
  }
}
